<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group_name</key>
		<string>A</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>355</string>
				<key>contry_name</key>
				<string>阿尔巴尼亚</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>213</string>
				<key>contry_name</key>
				<string>阿尔及利亚</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>93</string>
				<key>contry_name</key>
				<string>阿富汗</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>54</string>
				<key>contry_name</key>
				<string>阿根廷</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>971</string>
				<key>contry_name</key>
				<string>阿拉伯联合酋长国</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>297</string>
				<key>contry_name</key>
				<string>阿鲁巴岛</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>994</string>
				<key>contry_name</key>
				<string>阿塞拜疆</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>247</string>
				<key>contry_name</key>
				<string>阿森松</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>20</string>
				<key>contry_name</key>
				<string>埃及</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>251</string>
				<key>contry_name</key>
				<string>埃塞俄比亚</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>353</string>
				<key>contry_name</key>
				<string>爱尔兰</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>372</string>
				<key>contry_name</key>
				<string>爱沙尼亚</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>376</string>
				<key>contry_name</key>
				<string>安道尔共和国</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>244</string>
				<key>contry_name</key>
				<string>安哥拉</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1264</string>
				<key>contry_name</key>
				<string>安圭拉岛</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1268</string>
				<key>contry_name</key>
				<string>安提瓜和巴布达</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>43</string>
				<key>contry_name</key>
				<string>奥地利</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>61</string>
				<key>contry_name</key>
				<string>澳大利亚</string>
				<key>sort</key>
				<string>A</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>853</string>
				<key>contry_name</key>
				<string>澳门（中国）</string>
				<key>sort</key>
				<string>A</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>B</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>1246</string>
				<key>contry_name</key>
				<string>巴巴多斯</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>675</string>
				<key>contry_name</key>
				<string>巴布亚新几内亚</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1242</string>
				<key>contry_name</key>
				<string>巴哈马</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>92</string>
				<key>contry_name</key>
				<string>巴基斯坦</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>973</string>
				<key>contry_name</key>
				<string>巴林</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>507</string>
				<key>contry_name</key>
				<string>巴拿马</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>55</string>
				<key>contry_name</key>
				<string>巴西</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>375</string>
				<key>contry_name</key>
				<string>白俄罗斯</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1441</string>
				<key>contry_name</key>
				<string>百慕大群岛</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>359</string>
				<key>contry_name</key>
				<string>保加利亚</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>229</string>
				<key>contry_name</key>
				<string>贝宁</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>32</string>
				<key>contry_name</key>
				<string>比利时</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>354</string>
				<key>contry_name</key>
				<string>冰岛</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1787</string>
				<key>contry_name</key>
				<string>波多黎各</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>48</string>
				<key>contry_name</key>
				<string>波兰</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>591</string>
				<key>contry_name</key>
				<string>玻利维亚</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>501</string>
				<key>contry_name</key>
				<string>伯利兹</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>267</string>
				<key>contry_name</key>
				<string>博茨瓦纳</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>975</string>
				<key>contry_name</key>
				<string>不丹</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>226</string>
				<key>contry_name</key>
				<string>布基纳法索</string>
				<key>sort</key>
				<string>B</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>257</string>
				<key>contry_name</key>
				<string>布隆迪</string>
				<key>sort</key>
				<string>B</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>D</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>45</string>
				<key>contry_name</key>
				<string>丹麦</string>
				<key>sort</key>
				<string>D</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>49</string>
				<key>contry_name</key>
				<string>德国</string>
				<key>sort</key>
				<string>D</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1684</string>
				<key>contry_name</key>
				<string>东萨摩亚(美)</string>
				<key>sort</key>
				<string>D</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>228</string>
				<key>contry_name</key>
				<string>多哥</string>
				<key>sort</key>
				<string>D</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1890</string>
				<key>contry_name</key>
				<string>多米尼加共和国</string>
				<key>sort</key>
				<string>D</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>E</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>7</string>
				<key>contry_name</key>
				<string>俄罗斯</string>
				<key>sort</key>
				<string>E</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>593</string>
				<key>contry_name</key>
				<string>厄瓜多尔</string>
				<key>sort</key>
				<string>E</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>F</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>33</string>
				<key>contry_name</key>
				<string>法国</string>
				<key>sort</key>
				<string>F</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>689</string>
				<key>contry_name</key>
				<string>法属波利尼西亚</string>
				<key>sort</key>
				<string>F</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>594</string>
				<key>contry_name</key>
				<string>法属圭亚那</string>
				<key>sort</key>
				<string>F</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>63</string>
				<key>contry_name</key>
				<string>菲律宾</string>
				<key>sort</key>
				<string>F</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>679</string>
				<key>contry_name</key>
				<string>斐济</string>
				<key>sort</key>
				<string>F</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>358</string>
				<key>contry_name</key>
				<string>芬兰</string>
				<key>sort</key>
				<string>F</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>G</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>220</string>
				<key>contry_name</key>
				<string>冈比亚</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>242</string>
				<key>contry_name</key>
				<string>刚果</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>57</string>
				<key>contry_name</key>
				<string>哥伦比亚</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>506</string>
				<key>contry_name</key>
				<string>哥斯达黎加</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1473</string>
				<key>contry_name</key>
				<string>格林纳达</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>995</string>
				<key>contry_name</key>
				<string>格鲁吉亚</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>53</string>
				<key>contry_name</key>
				<string>古巴</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1671</string>
				<key>contry_name</key>
				<string>关岛</string>
				<key>sort</key>
				<string>G</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>592</string>
				<key>contry_name</key>
				<string>圭亚那</string>
				<key>sort</key>
				<string>G</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>H</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>7</string>
				<key>contry_name</key>
				<string>哈萨克斯坦</string>
				<key>sort</key>
				<string>H</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>31</string>
				<key>contry_name</key>
				<string>荷兰</string>
				<key>sort</key>
				<string>H</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>509</string>
				<key>contry_name</key>
				<string>海地</string>
				<key>sort</key>
				<string>H</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>82</string>
				<key>contry_name</key>
				<string>韩国</string>
				<key>sort</key>
				<string>H</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>504</string>
				<key>contry_name</key>
				<string>洪都拉斯</string>
				<key>sort</key>
				<string>H</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>J</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>253</string>
				<key>contry_name</key>
				<string>吉布提</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>996</string>
				<key>contry_name</key>
				<string>吉尔吉斯坦</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>224</string>
				<key>contry_name</key>
				<string>几内亚</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1</string>
				<key>contry_name</key>
				<string>加拿大</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>233</string>
				<key>contry_name</key>
				<string>加纳</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>241</string>
				<key>contry_name</key>
				<string>加蓬</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>855</string>
				<key>contry_name</key>
				<string>柬埔寨</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>420</string>
				<key>contry_name</key>
				<string>捷克</string>
				<key>sort</key>
				<string>J</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>263</string>
				<key>contry_name</key>
				<string>津巴布韦</string>
				<key>sort</key>
				<string>J</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>K</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>237</string>
				<key>contry_name</key>
				<string>喀麦隆</string>
				<key>sort</key>
				<string>K</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>974</string>
				<key>contry_name</key>
				<string>卡塔尔</string>
				<key>sort</key>
				<string>K</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1345</string>
				<key>contry_name</key>
				<string>开曼群岛</string>
				<key>sort</key>
				<string>K</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>225</string>
				<key>contry_name</key>
				<string>科特迪瓦</string>
				<key>sort</key>
				<string>K</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>965</string>
				<key>contry_name</key>
				<string>科威特</string>
				<key>sort</key>
				<string>K</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>254</string>
				<key>contry_name</key>
				<string>肯尼亚</string>
				<key>sort</key>
				<string>K</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>682</string>
				<key>contry_name</key>
				<string>库克群岛</string>
				<key>sort</key>
				<string>K</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>L</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>371</string>
				<key>contry_name</key>
				<string>拉脱维亚</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>266</string>
				<key>contry_name</key>
				<string>莱索托</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>856</string>
				<key>contry_name</key>
				<string>老挝</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>961</string>
				<key>contry_name</key>
				<string>黎巴嫩</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>370</string>
				<key>contry_name</key>
				<string>立陶宛</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>231</string>
				<key>contry_name</key>
				<string>利比里亚</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>218</string>
				<key>contry_name</key>
				<string>利比亚</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>423</string>
				<key>contry_name</key>
				<string>列支敦士登</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>262</string>
				<key>contry_name</key>
				<string>留尼汪</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>352</string>
				<key>contry_name</key>
				<string>卢森堡</string>
				<key>sort</key>
				<string>L</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>40</string>
				<key>contry_name</key>
				<string>罗马尼亚</string>
				<key>sort</key>
				<string>L</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>M</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>261</string>
				<key>contry_name</key>
				<string>马达加斯加</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>960</string>
				<key>contry_name</key>
				<string>马尔代夫</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>356</string>
				<key>contry_name</key>
				<string>马耳他</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>265</string>
				<key>contry_name</key>
				<string>马拉维</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>60</string>
				<key>contry_name</key>
				<string>马来西亚</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>223</string>
				<key>contry_name</key>
				<string>马里</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>596</string>
				<key>contry_name</key>
				<string>马里亚那群岛</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>596</string>
				<key>contry_name</key>
				<string>马提尼克</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>230</string>
				<key>contry_name</key>
				<string>毛里求斯</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1</string>
				<key>contry_name</key>
				<string>美国</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1684</string>
				<key>contry_name</key>
				<string>美属萨摩亚</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>880</string>
				<key>contry_name</key>
				<string>孟加拉国</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>95</string>
				<key>contry_name</key>
				<string>缅甸</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>373</string>
				<key>contry_name</key>
				<string>摩尔多瓦</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>377</string>
				<key>contry_name</key>
				<string>摩纳哥</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>258</string>
				<key>contry_name</key>
				<string>莫桑比克</string>
				<key>sort</key>
				<string>M</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>52</string>
				<key>contry_name</key>
				<string>墨西哥</string>
				<key>sort</key>
				<string>M</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>N</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>27</string>
				<key>contry_name</key>
				<string>南非</string>
				<key>sort</key>
				<string>N</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>674</string>
				<key>contry_name</key>
				<string>瑙鲁</string>
				<key>sort</key>
				<string>N</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>227</string>
				<key>contry_name</key>
				<string>尼日尔</string>
				<key>sort</key>
				<string>N</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>234</string>
				<key>contry_name</key>
				<string>尼日利亚</string>
				<key>sort</key>
				<string>N</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>47</string>
				<key>contry_name</key>
				<string>挪威</string>
				<key>sort</key>
				<string>N</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>P</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>351</string>
				<key>contry_name</key>
				<string>葡萄牙</string>
				<key>sort</key>
				<string>P</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>R</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>81</string>
				<key>contry_name</key>
				<string>日本</string>
				<key>sort</key>
				<string>R</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>46</string>
				<key>contry_name</key>
				<string>瑞典</string>
				<key>sort</key>
				<string>R</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>41</string>
				<key>contry_name</key>
				<string>瑞士</string>
				<key>sort</key>
				<string>R</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>S</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>503</string>
				<key>contry_name</key>
				<string>萨尔瓦多</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>232</string>
				<key>contry_name</key>
				<string>塞拉利昂</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>221</string>
				<key>contry_name</key>
				<string>塞内加尔</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>357</string>
				<key>contry_name</key>
				<string>塞浦路斯</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>248</string>
				<key>contry_name</key>
				<string>塞舌尔</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>966</string>
				<key>contry_name</key>
				<string>沙特</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>966</string>
				<key>contry_name</key>
				<string>沙特阿拉伯</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>239</string>
				<key>contry_name</key>
				<string>圣多美和普林西比</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1758</string>
				<key>contry_name</key>
				<string>圣卢西亚</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>378</string>
				<key>contry_name</key>
				<string>圣马力诺</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1784</string>
				<key>contry_name</key>
				<string>圣文森特</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>94</string>
				<key>contry_name</key>
				<string>斯里兰卡</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>421</string>
				<key>contry_name</key>
				<string>斯洛伐克</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>386</string>
				<key>contry_name</key>
				<string>斯洛文尼亚</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>268</string>
				<key>contry_name</key>
				<string>斯威士兰</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>249</string>
				<key>contry_name</key>
				<string>苏丹</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>597</string>
				<key>contry_name</key>
				<string>苏里南</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>677</string>
				<key>contry_name</key>
				<string>所罗门群岛</string>
				<key>sort</key>
				<string>S</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>252</string>
				<key>contry_name</key>
				<string>索马里</string>
				<key>sort</key>
				<string>S</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>T</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>992</string>
				<key>contry_name</key>
				<string>塔吉克斯坦</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>886</string>
				<key>contry_name</key>
				<string>台湾（中国）</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>66</string>
				<key>contry_name</key>
				<string>泰国</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>255</string>
				<key>contry_name</key>
				<string>坦桑尼亚</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>676</string>
				<key>contry_name</key>
				<string>汤加</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>1868</string>
				<key>contry_name</key>
				<string>特立尼达和多巴哥</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>216</string>
				<key>contry_name</key>
				<string>突尼斯</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>90</string>
				<key>contry_name</key>
				<string>土耳其</string>
				<key>sort</key>
				<string>T</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>993</string>
				<key>contry_name</key>
				<string>土库曼斯坦</string>
				<key>sort</key>
				<string>T</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>W</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>502</string>
				<key>contry_name</key>
				<string>危地马拉</string>
				<key>sort</key>
				<string>W</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>58</string>
				<key>contry_name</key>
				<string>委内瑞拉</string>
				<key>sort</key>
				<string>W</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>673</string>
				<key>contry_name</key>
				<string>文莱</string>
				<key>sort</key>
				<string>W</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>256</string>
				<key>contry_name</key>
				<string>乌干达</string>
				<key>sort</key>
				<string>W</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>380</string>
				<key>contry_name</key>
				<string>乌克兰</string>
				<key>sort</key>
				<string>W</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>598</string>
				<key>contry_name</key>
				<string>乌拉圭</string>
				<key>sort</key>
				<string>W</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>998</string>
				<key>contry_name</key>
				<string>乌兹别克斯坦</string>
				<key>sort</key>
				<string>W</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>X</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>64</string>
				<key>contry_name</key>
				<string>新西兰</string>
				<key>sort</key>
				<string>X</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>34</string>
				<key>contry_name</key>
				<string>西班牙</string>
				<key>sort</key>
				<string>X</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>685</string>
				<key>contry_name</key>
				<string>西萨摩亚</string>
				<key>sort</key>
				<string>X</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>30</string>
				<key>contry_name</key>
				<string>希腊</string>
				<key>sort</key>
				<string>X</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>852</string>
				<key>contry_name</key>
				<string>香港（中国）</string>
				<key>sort</key>
				<string>X</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>65</string>
				<key>contry_name</key>
				<string>新加坡</string>
				<key>sort</key>
				<string>X</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>36</string>
				<key>contry_name</key>
				<string>匈牙利</string>
				<key>sort</key>
				<string>X</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>963</string>
				<key>contry_name</key>
				<string>叙利亚</string>
				<key>sort</key>
				<string>X</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>Y</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>1876</string>
				<key>contry_name</key>
				<string>牙买加</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>374</string>
				<key>contry_name</key>
				<string>亚美尼亚</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>967</string>
				<key>contry_name</key>
				<string>也门</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>964</string>
				<key>contry_name</key>
				<string>伊拉克</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>98</string>
				<key>contry_name</key>
				<string>伊朗</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>972</string>
				<key>contry_name</key>
				<string>以色列</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>39</string>
				<key>contry_name</key>
				<string>意大利</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>91</string>
				<key>contry_name</key>
				<string>印度</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>62</string>
				<key>contry_name</key>
				<string>印尼</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>44</string>
				<key>contry_name</key>
				<string>英国</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>962</string>
				<key>contry_name</key>
				<string>约旦</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>84</string>
				<key>contry_name</key>
				<string>越南</string>
				<key>sort</key>
				<string>Y</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_name</key>
		<string>Z</string>
		<key>items</key>
		<array>
			<dict>
				<key>area_code</key>
				<string>260</string>
				<key>contry_name</key>
				<string>赞比亚</string>
				<key>sort</key>
				<string>Z</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>243</string>
				<key>contry_name</key>
				<string>扎伊尔</string>
				<key>sort</key>
				<string>Z</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>235</string>
				<key>contry_name</key>
				<string>乍得</string>
				<key>sort</key>
				<string>Z</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>350</string>
				<key>contry_name</key>
				<string>直布罗陀</string>
				<key>sort</key>
				<string>Z</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>86</string>
				<key>contry_name</key>
				<string>中国</string>
				<key>sort</key>
				<string>Z</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>56</string>
				<key>contry_name</key>
				<string>智利</string>
				<key>sort</key>
				<string>Z</string>
			</dict>
			<dict>
				<key>area_code</key>
				<string>236</string>
				<key>contry_name</key>
				<string>中非共和国</string>
				<key>sort</key>
				<string>Z</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
